<div>
    <div>
        @for (symbol of availableSymbols; track symbol) {
            <label>
                <input 
                    type="checkbox"
                    [checked]="checkedSymbols().has(symbol)"
                    (change)="onCheckBoxChange(symbol, $event)">
                    {{ symbol }}
            </label>
        }
    </div>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Previous Price</th>
                <th>Current Price</th>
                <th>Delta</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @for (trade of tradeTableSignalArray(); track trade.symbol) {
                <tr>
                    <td>{{ trade.symbol }}</td>
                    <td>{{ trade.prevPrice.toFixed(4) }}</td>
                    <td>{{ trade.currentPrice.toFixed(4) }}</td>
                    <td [style.color]="trade.delta >= 0 ? 'green' : 'red'">{{ trade.delta >= 0 ? '▲' : '▼' }} {{ trade.delta.toFixed(4) }}</td>
                    <td>{{ trade.quantity.toFixed(4) }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
